/*Section 1 - intro to bootstrap*/
/*can override bootstrap styles*/
/*.btn-danger {
    color: orange;
    background-color: black;
}*/
/*Section 4 - grid system*/
/*.pink {
    background: pink;
    border: 1px solid purple;
}*/